section {
    height:72px; 
    background-color: #30BA8F;
    text-align: center;
}

li {
    height: 5%;
    display: inline;
    
}

li a {
    display: block;
 color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}