section {
    height: 80px; 
    background-color: #483D8B;
    text-align: center;
    padding-top: ;
    font-size: 20px;
    float: left;
    width: 20%;
}

ul {
    height: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #191970;
    float: right;
    width: 80%;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 31px;
    text-decoration: none;
}

li a:hover {
    transition: .3s; 
    background-color: #2424A0;

}

li.special {
    background-color: #000032;
}