body {
    margin: 0;  
    background-size: cover;
    background-image: url(donkey.jpg);
}

section {
    height: 70px; 
    background-color: #483D8B;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
    color: aliceblue;
    font-family: fantasy;
    min-height: 70px;
    
}

ul {
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    background-color: #191970;
    width:100%;
    min-height: 40px;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    font-family: fantasy;
    padding: 10px;
    text-decoration: none;
   
}

li a:hover {
    transition: .3s; 
    background-color: #2424A0;
}

.active {
    background-color: #000032;
}

li.special {
    background-color: #000032;
}

.imageparagraph {
    text-align: center; 
    color: aliceblue;
    align-content: center;
    font-family: inherit;
    margin: 80px;
    margin-top: 40px;
}

.header {
    height: 30px;
    background-color: #ACACAC;
    width: 100%;
    color: aliceblue;
    font-size: 20px;
    padding-top: 10px;
    min-height: 30px;
}

.header2 {
    height: 30px;
    background-color: #ACACAC;
    width: 100%;
    color: aliceblue;
    font-size: 20px;
    padding-top: 10px;
    min-height: 30px;
}

.imageparagraph1 {
    text-align: left; 
    color: aliceblue;
    align-content: center;
    font-family: inherit;
    margin: 80px;
    margin-top: 40px;
}

.imageparagraph2 {
    text-align: right; 
    color: aliceblue;
    align-content: center;
    font-family: inherit;
    margin: 80px;
    margin-top: 40px;
}




