body {
    margin: 0;
}
section {
    height: 60px; 
    background-color: #483D8B;
    text-align: center;
    padding: -3px;
    margin: 0;
    font-size: 20px;
    float: left;
    width: 20%;
    color: aliceblue; 
}

ul {
    height:60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #191970;
    float: right;
    width: 80%;
}

li {
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    height: 60px;
}

li a:hover {
    transition: .3s; 
    background-color: #2424A0;

}

li.special {
    background-color: #000032;
    height: 60px;
    margin: none;
}

.header {
    height: 40px;
    background-color: #ACACAC;
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.header2 {
    height: 40px;
    background-color: #ACACAC;
    width: 100%;
    font-size: 20px;   
}

